In [171]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import roc_auc_score

In [172]:
X_train = pd.read_csv('../Datasets/Performance_X_train.csv')
X_test = pd.read_csv('../Datasets/Performance_X_test.csv')
y_train = pd.read_csv('../Datasets/Performance_y_train.csv')

In [173]:
X_train

,id,age,gender,height,weight,body_fat,diastolic,systolic,grip_force,sit_bend_forward,sit_ups,broad_jump
0,920,40,M,173.8,73.2,12.0,80.0,148,46.9,15.0,50.0,250.0
1,5998,35,M,176.2,73.7,15.7,64.0,119,47.6,18.0,46.0,226.0
2,11457,57,M,169.2,73.5,21.7,77.0,128,49.5,14.8,39.0,206.0
3,2898,45,M,170.3,76.7,17.0,86.0,154,50.8,19.5,43.0,214.0
4,3141,28,M,171.3,68.7,11.2,99.0,145,42.7,23.2,71.0,269.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10708,11701,63,F,151.6,58.0,37.2,78.0,137,19.7,21.4,0.0,84.0
10709,12327,56,F,169.0,53.1,17.8,74.0,119,22.2,4.8,32.0,147.0
10710,9592,21,M,168.4,66.7,22.9,70.0,119,27.5,-6.4,36.0,213.0
10711,5221,37,M,174.6,83.0,28.3,99.0,142,39.2,7.9,33.0,177.0
10712,1534,42,F,158.0,76.8,41.1,80.0,117,33.9,5.9,1.0,133.0

In [174]:
X_test

,id,age,gender,height,weight,body_fat,diastolic,systolic,grip_force,sit_bend_forward,sit_ups,broad_jump
0,11,42,M,169.2,65.4,19.3,63.0,110.0,43.5,16.0,68.0,211
1,22,59,F,155.9,62.7,30.2,76.0,143.0,36.8,29.1,25.0,122
2,30,50,F,159.8,57.1,24.4,63.0,103.0,30.8,24.4,30.0,143
3,49,28,M,180.1,82.1,15.0,83.0,147.0,52.6,18.8,55.0,247
4,88,41,F,158.1,51.0,21.7,86.0,127.0,23.1,28.6,46.0,165
...,...,...,...,...,...,...,...,...,...,...,...,...
2675,13277,55,M,168.4,71.3,27.8,89.0,146.0,37.8,19.1,32.0,189
2676,13312,33,M,173.1,67.6,18.1,83.0,124.0,46.4,9.4,52.0,209
2677,13328,24,M,170.9,68.3,16.4,90.0,147.0,34.4,4.3,33.0,173
2678,13358,56,M,173.0,52.6,12.9,92.0,141.0,32.6,-13.2,31.0,198
2679,13392,64,F,146.1,57.7,40.4,68.0,121.0,19.3,9.2,0.0,75

In [175]:
y_train

          id class
0        920     A
1       5998     A
2      11457     A
3       2898     A
4       3141     A
...      ...   ...
10708  11701     D
10709  12327     D
10710   9592     D
10711   5221     D
10712   1534     D

[10713 rows x 2 columns]

In [176]:
ID = X_test['id'].copy()

X_train = X_train.drop(columns=['id'])
X_test = X_test.drop(columns=['id'])
y_train = y_train.drop(columns=['id'])

print(X_train.isna().sum())
print(X_test.isna().sum())
print(y_train.isna().sum())

X_train_cat = X_train.select_dtypes('object').copy()
X_test_cat = X_test.select_dtypes('object').copy()

ohe = OneHotEncoder(sparse=False)
ohe.fit(X_train_cat)

X_train_ohe = ohe.transform(X_train_cat)
X_test_ohe = ohe.transform(X_test_cat)

X_train_num = X_train.select_dtypes(exclude='object').copy()
X_test_num = X_test.select_dtypes(exclude='object').copy()

scaler = MinMaxScaler()
scaler.fit(X_train_num)

X_train_sca = scaler.transform(X_train_num)
X_test_sca = scaler.transform(X_test_num)

X_TRAIN = np.concatenate([X_train_ohe, X_train_sca], axis=1)
X_TEST = np.concatenate([X_test_ohe, X_test_sca], axis=1)

y_TRAIN = y_train['class'].map({'A':0,'B':1,'C':2,'D':3})

print(X_TRAIN.shape, X_TEST.shape, y_TRAIN.shape)

xtrain, xtest, ytrain, ytest = train_test_split(X_TRAIN, y_TRAIN, test_size=0.25, stratify=y_TRAIN, random_state=2022)

print(xtrain.shape, xtest.shape, ytrain.shape, ytest.shape)

def make_models(xtrain, xtest, ytrain, ytest):
    model1 = DecisionTreeClassifier(random_state=2022).fit(xtrain, ytrain)
    print('model1 0', get_score(model1, xtrain, xtest, ytrain, ytest))
    
    for d in range(3, 8):
        model1 = DecisionTreeClassifier(max_depth= d, random_state=2022).fit(xtrain, ytrain)
        print('model1', d, get_score(model1, xtrain, xtest, ytrain, ytest))
        
    model2 = RandomForestClassifier(random_state=2022).fit(xtrain, ytrain)
    print('modle2 0', get_score(model2, xtrain, xtest, ytrain, ytest))
    
    for d in range(3, 8):
        model2 = RandomForestClassifier(n_estimators=500, max_depth= d, random_state=2022).fit(xtrain, ytrain)
        print('model2', d, get_score(model2, xtrain, xtest, ytrain, ytest))
    
    base_model = DecisionTreeClassifier(max_depth=7, random_state=2022)
    model3 = AdaBoostClassifier(n_estimators=200, base_estimator=base_model, random_state=2022).fit(xtrain, ytrain)
    print('model3', get_score(model3, xtrain, xtest, ytrain, ytest))
    
    model4 = GradientBoostingClassifier(random_state=2022, learning_rate=0.01).fit(xtrain, ytrain)
    print('model4', get_score(model4, xtrain, xtest, ytrain, ytest))
    
def get_score(model, xtrain, xtest, ytrain, ytest):
    A = model.score(xtrain, ytrain)
    ypred = model.predict_proba(xtest)
    print('yred : ',ypred)
    print('yred 1 : ',ypred[:,1])
    print('yred 1 : ',ypred[:,2])
    B = roc_auc_score(ytest, ypred, multi_class='ovr')
    
    return f'{A:.4} {B:.4}'

make_models(xtrain, xtest, ytrain, ytest)

final_model = RandomForestClassifier(random_state=2022).fit(xtrain, ytrain)
print('final_model', get_score(final_model, xtrain, xtest, ytrain, ytest))

y_pred = final_model.predict(X_TEST)

obj = {
    'ID' : ID,
    'class' : y_pred
}
result = pd.DataFrame(obj)

result['class'] = result['class'].map({0:'A', 1:'B', 2:'C', 3:'D'})

result.to_csv('./result.csv', index=False)

age                 0
gender              0
height              0
weight              0
body_fat            0
diastolic           0
systolic            0
grip_force          0
sit_bend_forward    0
sit_ups             0
broad_jump          0
dtype: int64
age                 0
gender              0
height              0
weight              0
body_fat            0
diastolic           0
systolic            0
grip_force          0
sit_bend_forward    0
sit_ups             0
broad_jump          0
dtype: int64
class    0
dtype: int64
(10713, 12) (2680, 12) (10713,)
(8034, 12) (2679, 12) (8034,) (2679,)
yred :  [[1. 0. 0. 0.]
 [0. 0. 0. 1.]
 [0. 0. 0. 1.]
 ...
 [0. 1. 0. 0.]
 [1. 0. 0. 0.]
 [0. 0. 0. 1.]]
yred 1 :  [0. 0. 0. ... 1. 0. 0.]
yred 1 :  [0. 0. 0. ... 0. 0. 0.]
model1 0 1.0 0.7474
yred :  [[0.54003295 0.27413509 0.13805601 0.04777595]
 [0.16712329 0.32237443 0.27671233 0.23378995]
 [0.16712329 0.32237443 0.27671233 0.23378995]
 ...
 [0.16712329 0.32237443 0.27671233 0.23378995]
 [0.54003295 0.27413509 0.13805601 0.04777595]
 [0.         0.         0.00152672 0.99847328]]
yred 1 :  [0.27413509 0.32237443 0.32237443 ... 0.32237443 0.27413509 0.        ]
yred 1 :  [0.13805601 0.27671233 0.27671233 ... 0.27671233 0.13805601 0.00152672]
model1 3 0.5479 0.7751
yred :  [[0.63204225 0.22300469 0.1120892  0.03286385]
 [0.17715392 0.34172314 0.28944821 0.19167473]
 [0.         0.         0.06451613 0.93548387]
 ...
 [0.17715392 0.34172314 0.28944821 0.19167473]
 [0.63204225 0.22300469 0.1120892  0.03286385]
 [0.         0.         0.         1.        ]]
yred 1 :  [0.22300469 0.34172314 0.         ... 0.34172314 0.22300469 0.        ]
yred 1 :  [0.1120892  0.28944821 0.06451613 ... 0.28944821 0.1120892  0.        ]
model1 4 0.5732 0.8043
yred :  [[0.54698318 0.26409496 0.140455   0.04846686]
 [0.21382008 0.36766623 0.30769231 0.11082138]
 [0.         0.         0.25       0.75      ]
 ...
 [0.21382008 0.36766623 0.30769231 0.11082138]
 [0.75613276 0.16305916 0.07070707 0.01010101]
 [0.         0.         0.         1.        ]]
yred 1 :  [0.26409496 0.36766623 0.         ... 0.36766623 0.16305916 0.        ]
yred 1 :  [0.140455   0.30769231 0.25       ... 0.30769231 0.07070707 0.        ]
model1 5 0.6121 0.8178
yred :  [[0.66358595 0.23290203 0.08502773 0.01848429]
 [0.32853717 0.38369305 0.23501199 0.05275779]
 [0.         0.         0.         1.        ]
 ...
 [0.32853717 0.38369305 0.23501199 0.05275779]
 [0.61885246 0.25409836 0.11885246 0.00819672]
 [0.         0.         0.         1.        ]]
yred 1 :  [0.23290203 0.38369305 0.         ... 0.38369305 0.25409836 0.        ]
yred 1 :  [0.08502773 0.23501199 0.         ... 0.23501199 0.11885246 0.        ]
model1 6 0.6234 0.8379
yred :  [[0.72193878 0.19897959 0.06122449 0.01785714]
 [0.42105263 0.40247678 0.14241486 0.03405573]
 [0.         0.         0.         1.        ]
 ...
 [0.0106383  0.31914894 0.55319149 0.11702128]
 [0.6962963  0.16296296 0.14074074 0.        ]
 [0.         0.         0.         1.        ]]
yred 1 :  [0.19897959 0.40247678 0.         ... 0.31914894 0.16296296 0.        ]
yred 1 :  [0.06122449 0.14241486 0.         ... 0.55319149 0.14074074 0.        ]
model1 7 0.6649 0.8499
yred :  [[0.65 0.21 0.1  0.04]
 [0.4  0.45 0.13 0.02]
 [0.02 0.08 0.07 0.83]
 ...
 [0.05 0.41 0.42 0.12]
 [0.73 0.19 0.06 0.02]
 [0.   0.01 0.04 0.95]]
yred 1 :  [0.21 0.45 0.08 ... 0.41 0.19 0.01]
yred 1 :  [0.1  0.13 0.07 ... 0.42 0.06 0.04]
modle2 0 1.0 0.9141
yred :  [[0.37573683 0.29491181 0.22483373 0.10451762]
 [0.29334547 0.29440732 0.26084109 0.15140612]
 [0.14609585 0.19119771 0.22167748 0.44102896]
 ...
 [0.17904545 0.24921797 0.30382223 0.26791435]
 [0.4667442  0.27561506 0.17821221 0.07942852]
 [0.04519293 0.10638183 0.18826751 0.66015774]]
yred 1 :  [0.29491181 0.29440732 0.19119771 ... 0.24921797 0.27561506 0.10638183]
yred 1 :  [0.22483373 0.26084109 0.22167748 ... 0.30382223 0.17821221 0.18826751]
model2 3 0.5896 0.827
yred :  [[0.412534   0.29386872 0.21212455 0.08147273]
 [0.27591908 0.3160544  0.26901406 0.13901246]
 [0.11477976 0.16361267 0.18331829 0.53828928]
 ...
 [0.15327657 0.26072448 0.34250596 0.24349299]
 [0.5378578  0.26209023 0.14642444 0.05362753]
 [0.02303885 0.07368141 0.14897076 0.75430898]]
yred 1 :  [0.29386872 0.3160544  0.16361267 ... 0.26072448 0.26209023 0.07368141]
yred 1 :  [0.21212455 0.26901406 0.18331829 ... 0.34250596 0.14642444 0.14897076]
model2 4 0.616 0.8485
yred :  [[0.43284516 0.29787903 0.20321804 0.06605776]
 [0.24800464 0.33770527 0.28140991 0.13288018]
 [0.0924804  0.14392935 0.14733814 0.6162521 ]
 ...
 [0.13563236 0.27397153 0.37039799 0.21999812]
 [0.56422978 0.25930774 0.13344481 0.04301767]
 [0.01160809 0.05202473 0.11288621 0.82348097]]
yred 1 :  [0.29787903 0.33770527 0.14392935 ... 0.27397153 0.25930774 0.05202473]
yred 1 :  [0.20321804 0.28140991 0.14733814 ... 0.37039799 0.13344481 0.11288621]
model2 5 0.6535 0.8651
yred :  [[0.46232921 0.29618812 0.18696199 0.05452069]
 [0.25533622 0.36232417 0.26973566 0.11260395]
 [0.07011715 0.12461844 0.11551866 0.68974575]
 ...
 [0.12477976 0.28406848 0.39044235 0.20070941]
 [0.62352678 0.2330565  0.11179379 0.03162293]
 [0.00578133 0.03149409 0.08328224 0.87944234]]
yred 1 :  [0.29618812 0.36232417 0.12461844 ... 0.28406848 0.2330565  0.03149409]
yred 1 :  [0.18696199 0.26973566 0.11551866 ... 0.39044235 0.11179379 0.08328224]
model2 6 0.6965 0.8774
yred :  [[0.51474026 0.28539828 0.16036908 0.03949238]
 [0.27239162 0.38203968 0.24997596 0.09559274]
 [0.05018594 0.0955687  0.09018349 0.76406187]
 ...
 [0.11462414 0.29483506 0.41180949 0.17873132]
 [0.64547049 0.22552788 0.10317171 0.02582992]
 [0.00347099 0.02636041 0.06781134 0.90235726]]
yred 1 :  [0.28539828 0.38203968 0.0955687  ... 0.29483506 0.22552788 0.02636041]
yred 1 :  [0.16036908 0.24997596 0.09018349 ... 0.41180949 0.10317171 0.06781134]
model2 7 0.7407 0.8887
yred :  [[7.64030996e-01 1.86782206e-01 4.89774238e-02 2.09373882e-04]
 [2.46729474e-01 5.65673813e-01 1.78929942e-01 8.66677106e-03]
 [2.79169572e-02 1.59031879e-01 4.80143466e-02 7.65036817e-01]
 ...
 [2.08357381e-03 2.55947380e-01 4.77500668e-01 2.64468378e-01]
 [7.12466536e-01 2.46148948e-01 3.79721279e-02 3.41238879e-03]
 [3.80845138e-05 9.54858654e-02 5.99282989e-01 3.05193061e-01]]
yred 1 :  [0.18678221 0.56567381 0.15903188 ... 0.25594738 0.24614895 0.09548587]
yred 1 :  [0.04897742 0.17892994 0.04801435 ... 0.47750067 0.03797213 0.59928299]
model3 0.9588 0.8635
yred :  [[0.49416221 0.22131805 0.15299225 0.13152749]
 [0.18925966 0.40068615 0.2325508  0.17750338]
 [0.19881365 0.15217947 0.12791788 0.52108899]
 ...
 [0.16093147 0.25591549 0.30670345 0.27644959]
 [0.49426347 0.25205661 0.13389715 0.11978277]
 [0.07793275 0.07533022 0.07438372 0.77235332]]
yred 1 :  [0.22131805 0.40068615 0.15217947 ... 0.25591549 0.25205661 0.07533022]
yred 1 :  [0.15299225 0.2325508  0.12791788 ... 0.30670345 0.13389715 0.07438372]
model4 0.5947 0.8291
yred :  [[0.65 0.21 0.1  0.04]
 [0.4  0.45 0.13 0.02]
 [0.02 0.08 0.07 0.83]
 ...
 [0.05 0.41 0.42 0.12]
 [0.73 0.19 0.06 0.02]
 [0.   0.01 0.04 0.95]]
yred 1 :  [0.21 0.45 0.08 ... 0.41 0.19 0.01]
yred 1 :  [0.1  0.13 0.07 ... 0.42 0.06 0.04]
final_model 1.0 0.9141